@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Italiana&display=swap");

// レスポンシブ対応
// ブレイクポイント
$mb: 767px;
// @mediaのフォーマット
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #1d1d1d;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

// ハンバーガーメニュー
// .pc_nav {
//   position: absolute;
//   background: rgba(1, 47, 78, 0.8);
//   width: 100%;
//   height: 100vh;
//   padding-left: 13%;
//   padding-top: 200px;
//   z-index: 98;
//   h4 {
//     width: 40px;
//     padding-bottom: 10px;
//     border-bottom: solid 1px #ffffff;
//     margin-bottom: 80px;
//   }
//   ul .menu_btn {
//     display: block;
//     font-family: Cambay;
//     font-size: 30px;
//     color: #ffffff;
//     position: relative;
//     margin-bottom: 80px;
//     padding-left: 40px;
//     @include mobile {
//       font-size: 22px;
//     }
//   }
//   ul .menu_btn::before {
//     content: "";
//     position: absolute;
//     top: 42%;
//     left: 0px;
//     transform: translateY(-50%);
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     border: 2px solid #ffffff;
//     @include mobile {
//       width: 17px;
//       height: 17px;
//     }
//   }
//   ul .menu_btn::after {
//     content: "";
//     position: absolute;
//     top: 42%;
//     left: 15px;
//     transform: translateY(-50%);
//     width: 15px;
//     height: 2px;
//     background: #ffffff;
//     transition: 0.3s;
//     @include mobile {
//       width: 12px;
//     }
//   }
//   ul .menu_btn:hover::after {
//     width: 10px;
//     height: 10px;
//     border-radius: 50%;
//     background: #ffffff;
//     left: 7px;
//     @include mobile {
//       left: 6px;
//     }
//   }
// }
// .pc_btn {
//   font-family: Cambay;
//   font-size: 30px;
//   color: #ffffff;
//   position: relative;
//   padding-right: 40px;
//   z-index: 99;
//   @include mobile {
//     font-size: 24px;
//   }
// }
// .pc_btn::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   border: 2px solid #ffffff;
//   @include mobile {
//     width: 17px;
//     height: 17px;
//   }
// }
// .pc_btn::after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 15px;
//   width: 15px;
//   height: 2px;
//   background: #ffffff;
//   transition: 0.3s;
//   @include mobile {
//     width: 12px;
//   }
// }
// .pc_btn:hover::after {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   background: #ffffff;
//   right: 7px;
//   @include mobile {
//     right: 6px;
//   }
// }
// .pc_btn.open::before {
//   border-radius: 0%;
//   top: 10px;
//   width: 25px;
//   right: 0px;
//   height: 0px;
//   transform: rotate(45deg);
//   background: #ffffff;
//   @include mobile {
//     width: 20px;
//     top: 8px;
//   }
// }
// .pc_btn.open::after {
//   border-radius: 0%;
//   width: 25px;
//   height: 0px;
//   top: 10px;
//   right: 0px;
//   border: 2px solid #ffffff;
//   transform: rotate(135deg);
//   @include mobile {
//     width: 20px;
//     top: 8px;
//   }
// }

// スクロール後のヘッダー
.second_header {
  .pc_btn {
    font-family: Cambay;
    font-size: 30px;
    color: #ffffff;
    position: relative;
    padding-right: 40px;
    z-index: 99;
    @include mobile {
      font-size: 24px;
    }
  }
  .pc_btn::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    @include mobile {
      width: 17px;
      height: 17px;
    }
  }
  .pc_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 15px;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
    @include mobile {
      width: 12px;
    }
  }
  .pc_btn:hover::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    right: 7px;
    @include mobile {
      right: 6px;
    }
  }
  .pc_btn.open::before {
    border-radius: 0%;
    top: 10px;
    width: 25px;
    right: 0px;
    height: 0px;
    transform: rotate(45deg);
    background: #ffffff;
    @include mobile {
      width: 20px;
      top: 8px;
    }
  }
  .pc_btn.open::after {
    border-radius: 0%;
    width: 25px;
    height: 0px;
    top: 10px;
    right: 0px;
    border: 2px solid #ffffff;
    transform: rotate(135deg);
    @include mobile {
      width: 20px;
      top: 8px;
    }
  }
}

// フッター
.footer {
  height: 10px;
  background-color: #1d1d1d;
  padding-top: 100px;
  width: calc(100% - 16px);
  margin: 0 auto;
}
.footer .footer_btn {
  font-family: Cambay;
  font-size: 26px;
  color: #012f4e;
  position: relative;
  margin-right: 100px;
  padding-left: 40px;
  @include mobile {
    font-size: 17px;
    margin-right: 0px;
    display: block;
    padding-left: 40px;
    margin-bottom: 40px;
  }
}
.footer .footer_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #012f4e;
  @include mobile {
    width: 13px;
    height: 13px;
  }
}
.footer .footer_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 2px;
  background: #012f4e;
  transition: 0.3s;
  @include mobile {
    width: 9px;
    left: 11px;
  }
}
.footer .footer_btn:hover::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #012f4e;
  left: 7px;
}

// // モニタサイズ375pxを起点にしたvwのサイズ指定
// @function vw($size, $viewport: 375) {
//   $rate: 100 / $viewport;
//   @return $rate * $size * 1vw;
// }

// // 上記のvwを利用したフォントサイズの指定
// @mixin fz($font_size: 10) {
//   font-size: $font_size * 1px; //vw非対応の場合の保険
//   font-size: vw($font_size); //フォントをvw指定
// }

// レスポンシブ対応
// ブレイクポイント
$mb: 767px;
// @mediaのフォーマット
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}
